<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sarafaizi.Properties.Settings.NIGIN_RETURANTConnectionString"
            connectionString="Data Source=Z60-07;Initial Catalog=NIGIN_RETURANT;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="sarafaizi.Properties.Settings.SARAConnectionString"
            connectionString="Data Source=SETARAH\SQLEXPRESS;Initial Catalog=SARA;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="sarafaizi.Properties.Settings.NIGIN_RETURANTConnectionString1"
            connectionString="Data Source=SETARAH\SQLEXPRESS;Initial Catalog=NIGIN_RETURANT;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>